:root {
  --main-bg-color: #fafafa;
  --header-bg-color: #6366f1;
  --header-component-color: #4f46e5;

  --primary-color: #6366f1;
  --dark-primary-color: #3730a3;
  --light-primary-color: #818cf8;
}

body {
}

.ecos-sidebar {
  background: #f8fafc;
}

.ecos-journal_new .ecos-grid__row_new:not(.ecos-grid__tr_selected):nth-child(odd) {
  background-color: #eef2ff !important;
}
