:root {
  --main-bg-color: #f9fafb;
  --header-bg-color: #7396AD;
  --header-component-color: #4B758B;

  --primary-color: #64748b;
  --dark-primary-color: #475569;
  --light-primary-color: #94a3b8;
}

body {

}
