:root {
  --main-bg-color: aliceblue;
  --header-bg-color: #ef4444;
  --header-component-color: #dc2626;
  --primary-color: #ef4444;
  --dark-primary-color: #b91c1c;
  --light-primary-color: #f87171;
}

body {
}
